<nav>
  <a href="/">View Messages</a>
  <a href="/login"><%= !currentUser ? 'Login' : '' %></a>
  <a href="/sign-up"><%= !currentUser ? 'Sign Up' : '' %></a>
  <a href="/log-out"><%= currentUser ? 'Log out' : '' %></a>
  <a href="/join">Join the club</a>
  <a href="/new-message"><%= currentUser ? 'Create a new message' : '' %></a>
</nav>
